
.galleryContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryBox{
  display: flex;
  flex-direction: column-reverse;
  width: 55vw;
  gap: 10px;
}


@media (min-width: 768px){ 
  .galleryContainer {
    padding-inline: 8px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 10px;
  }

  .galleryBox{
    display: flex;
    flex-direction: row;
    width: 55vw;
    gap: 10px;
  }

  }
