
.galleryContainer {
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


/* @media (max-width: 768px){ 
  .galleryContainer {
    background-color: aqua;
    display: flex;
    flex-direction: row;
  }
  } */
