/* 
.productDescriptionContainer {
  width: 100vw;
}

.ImagesContainer {
  display: flex;
  height: 100vw;
  position: relative;
}

.blueBox {
  position: absolute;
 width: 40vw;
 height: 100vw;
 background-color: #004C98;
}


.productImage {
  position: absolute;
  display: flex;
  align-self: center;
}

.textContainer {
  display: flex;
  width: 100vw;
  background-color: #004C98;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  padding: 4vw;
}

.wrapperTextDescription {
  width: 100vw;
  padding-inline: 10px;  
}

.whatIsItSection {
  color: white;
  width: 70vw;
}

.whatIsItSection p {
  font-size: 14px;
}

.whatIsItSection h2 {
  font-size: 20px;
}

.whatIsItSection :nth-child(4){
  font-size: 11px;
} */

@media(min-width: 1024px){
  .whatItIsContainer{
  }
  /* .ImagesContainer { */
    /* width: 30vw; 
    height: 60vw; */
  /* } */
  /* 
  .textContainer {
  position: absolute;
  max-width: 30vw;
  width: 30vw;
  max-height: 70vw;
  height: 70vw;
}

*/
  .wrapperTextDescription {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    background-color: #004C98 ;
  }

  .whatIsItSection {
    color: white;
    width: 30vw;
  }

  .productImage img {
    position: absolute;
  }

  .blueBox {
    display: none;
  }


}