.btnContainer {
  padding: 0;
  margin: 0;
  background-color: #59C00B;
  height: 50px;
  width: 60vw;
  border-radius: 8px;
  border-style: none;
  color: white;
}

.btnContainerLarge {
  color: white;
    padding: 0;
    margin: 0;
    background-color: #004C98;
    height: 50px;
    width: 86.5vw;
    border-radius: 8px;
    border-style: none;
}

@media(min-width:768px){
  .btnContainer {
    max-width: 20vw;
    min-height: 60px;
  }

  .btnContainerLarge {
    max-width: 30vw;
    min-height: 60px;
  }
}