.thumbListContainer {
  width: 100px;
  height: 600px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}


.thumbListContainer ul {
  overflow: scroll;
  list-style: none;
  height: 560px;
  padding: 0;
  margin: 0;
}

.thumbListContainer li {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgb(212, 212, 212);
  border-radius: 4px;
  margin: 5px;
}