.formContainer {
  width: 95vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: rgb(212, 212, 212);
  border-radius: 6px; 
}

.formTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.formTitleBox > h1 {
  font-weight: normal;
  font-size: 1.3rem;
  color: #687175;
  margin: 0px;
  padding: 0;
  margin-top: 5vw;
}

.formTitleBox > p {
  font-size: 13px;
  color: #687175; 
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

@media(max-width: 330px){
  .formTitleBox h1{
    text-align: center;
    max-width: 95%;
  }
}
