.formContainer {
  width: 95vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: rgb(212, 212, 212);
  border-radius: 6px; 
}

.formTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.formTitleBox > h1 {
  text-align: center;
  margin-inline: 10px;
  font-weight: normal;
  font-size: 24px;
  color: #687175;
  padding: 0;
  margin-top: 5vw;
}

.formTitleBox > p {
  font-size: 13px;
  color: #687175;
  margin: 4px;
  padding: 0;
}

.formContainer > hr {
  height: 1px;
  border-style: none;
  width: 90vw;
  align-self: center;
  margin: 5%;
}

@media (min-width: 1024px) {
  .formContainer {
    max-width: 40vw;
    max-height: 650px;
    margin: 0;
  }

  .formTitleBox {
    margin: 0;
    height: 300px;
    margin-bottom: 20px;
  }
  .formContainer > hr {
    width: 45vw;
    height: 20px;
  }
  .formTitleBox > h1 {
    color: #687175;
    text-align: center;
    margin-inline: 10px;
    font-weight: normal;
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
  }
  
}
